*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
    font-family: 'Poppins', sans-serif;
    display: flex; /* මැදට ගන්න */
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

/* පසුබිමේ ඇති පාට බෝල (Shapes) */
.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -30px;
    bottom: -80px;
}

/* Glassmorphism Form එක */
form {
    height: 520px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13); /* විනිවිද පෙනෙන සුදු */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px); /* බොඳ කිරීම */
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    transition: 0.3s;
}

input:focus {
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 10px #23a2f6;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #23a2f6;
    color: white;
    transform: scale(1.02); /* Click කරද්දි පොඩි Animation එකක් */
}

.error-msg {
    margin-top: 15px;
    color: #ff512f;
    text-align: center;
    font-size: 14px;
}
